SetEnvIf Origin "(http|https)://(getdrafting.com|getdrafting.*.herokuapp.com)"$ AccessControlAllowOrigin=$0
Header set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
Header merge Access-Control-Allow-Credentials "true"