@import 'shared.css';

body, html {
  margin:  0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#landing-page-wrapper .site-header {
  display:  none;
}

.landing-page-content {
  padding-top: 30px;
  background-color: white;
  width:  90vw;
}

.big-gd-logo {
  max-height: 100px;
  margin:  10px;
}

.action-button {
  padding:  30px;
  background-color: seagreen;
  color:  white;
  font-size: x-large;
  max-width:  300px;
  cursor: pointer;
}

.action-button::hover {
  cursor: pointer;
}

.action-button a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.div-link {
  text-decoration: none;
}

footer {
   position:absolute;
   bottom:0;
   width:99vw;
}