.site-header {
  background: #0A0442;
  color:  white;
  padding: 10px;
  max-height: 150px;
  height: 13vh;
  display: flex;
  flex-direction: row;
}

.site-header img {
  object-fit:contain;
  height:90%;
}

.centered {
  margin: 0 auto;
  text-align:  center;
}

/* MEDIA QUERIES ABOVE MOBILE HERE */
@media only screen and (min-width: 825px) {
  .site-header {
    display: flex;
    flex-direction: row;
  }
}
